<%-include ('partials/head.ejs');-%>
<%-include('partials/nav.ejs');-%>
<body>
  <br>
    <div>
      <br>
    </div>
    <br>
    <div class="container-fluid">
      <%-include('partials/image.ejs');-%>
    </div>
    <br>
    <div class="container-fluid">
      <%-include('partials/tables.ejs');-%>
    </div>
      <div class="col">
        <div class="container-fluid">
          
        </div>
      </div>
    </div> 
    <br>
    
</body>
<%-include('partials/footer.ejs');-%>
</html>