<%-include ('partials/head.ejs')-%>
<%-include('partials/nav.ejs');-%>
<body>
     <hr>
    <div class="container">
       
        <h1>LISTAGEM DOS MODELOS DISPONÍVEIS</h1>
       
    </div>
     <hr>
    <br>
    <div class="container">
        <table class="table table-success table-hover">
        <thead>
            <tr>
                <th scope="col">Marca</th>
                <th scope="col">Cor</th>
                <th scope="col">Preço</th>
                <th scope="col">Tipo</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <% modelo.forEach(modelo => { %>
            <tbody>
                <tr>
                <td> <%= modelo.marca %></td>
                <td><%= modelo.cor %></td>
                <td><%= modelo.preco %></td>
                <td><%= modelo.tipo %></td>
                <td>
                    <div class="btn-group btn-group-sm" role="group"><button type="button" class="btn btn-outline-dark">Editar</button></div>
                    <div class="btn-group btn-group-sm" role="group"><button type="button" class="btn btn-outline-dark">Apagar</button></div>
                    <div class="btn-group btn-group-sm" role="group"><button type="button" class="btn btn-outline-dark">Right</button></div>
                  </td>
                </tr>
            </tbody>
        <% }); %>
        </table>
    </div>  
</body>