<%-include ('partials/head.ejs')-%>
<%-include('partials/nav.ejs');-%>
<body>
    <div class="container">
        
        <h3><%=mostrarEspe.marca%></h3>
        <h3><%=mostrarEspe.cor%></h3>
        <h3><%=mostrarEspe.preco%></h3>
        <h3><%=mostrarEspe.tipo%></h3>
    
    </div>
</body>
