<%-include ('../partials/head.ejs')-%>
<%-include('../partials/nav.ejs');-%>
<br>
<div class="container" style="text-align: center;">
    <hr>
    <h1>CONSULTA</h1>
    <hr>
</div>
<br>
<div class="container">
    <form method="POST" action="/saveConsulta">
        <div class="row g-2">
            <div class="col-md">
                <label for="data" class="form-label">Data:</label>
                <input type="text" name="data" class="form-control" id="data" aria-describedby="data">
            </div>
            <div class="col-md">
                <label for="hora" class="form-label">Hora:</label>
                <input type="text" name="hora" class="form-control" id="hora" aria-describedby="hora">
            </div>
        </div>
        <br>
        <div class="row g-2">
            <div class="col-md">
                <label for="tipo" class="form-label">Escolha o Tipo:</label>
               <select class="form-select" name="tipo" aria-label="Default select example">
                    <option selected>Tipo da Consulta...</option>
                    <option value="Manuntenção">Manuntenção</option>
                    <option value="Limpeza">Limpeza</option>
                    <option value="Obturação">Obturação</option>
                    <option value="Extração de Dente">Extração de Dente</option>
                </select> 
            </div>
            <div class="col-md">
                <label for="periodo" class="form-label">Escolha o Período:</label>
               <select class="form-select" name="periodo" aria-label="Default select example">
                    <option selected>Período...</option>
                    <option value="Manhã">Manhã</option>
                    <option value="Tarde">Tarde</option>
                </select> 
            </div>
        </div>
        <br>
        <div class="row g-2">
            <div class="col-md">
                <label for="cliente" class="form-label">Cliente:</label>
                <select class="form-select" name="cliente" aria-label="Default select example">
                    <% cliente.forEach((cliente) => { %>
                    <option value="<%= cliente.nome %>"><%= cliente.nome %></option>
                   <% }) %>   
                </select>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-outline-dark">Salvar</button>
      </form>
</div>
<%-include('../partials/footer.ejs');-%>